body {
												margin: 0px;
												background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3p-YC7uLOY18mMNUObt3K0AkVscQIA7MzNA&usqp=CAU');
												background-size: cover;
												font-family: sans-serif;
                        user-select: none;
								} 
								#time {
												float: left;
												margin-top: 8px;
												color: white;
												white-space: nowrap;
												display: inline;
								}
								#time-display {
												display: inline;
								}
								#daytime-display {
												display: inline;
												font-family: "benchNine", sans-serif;
								}
								#swipe-up {
												transform: translateX(50%) translateY(50%);
												position: absolute;
												text-align: center;
												right: 50%;
												bottom: 7%;
												color: white;
												font-size: 100%;
												font-weight: lighter;
												font-family: 'BenchNine', sans-serif;
								}
								#status-bar {
												touch-action: none;
												background-color: black;
												text-align: left;
												color: white;
												font-size: 80%;
												position: fixed;
												width: 100%;
								}
								#battery-bar {
												float: right;
												margin-top: 2px;
												height: 25px;
												width: 45px;
								}
								#battery-display {
												float: right;
												margin-top: 8px;
												display: inline;
								}
								#search-bar {
												transform: translate(50%, 0%);
												position: absolute;
												right: 50%;
												top: 7%;
												width: 97%;
												background: black;
												color: white;
												border: solid 1px white;
												border-radius: 50px;
												padding-left: 4px;
												padding-right: 4px;
								}
								#search-image {
												float: left;
												margin-top: 0.50px;
								}
								#search-yt {
												float: right;
												margin-top: 0.50px;
								}
                #back-button {
                        transform: translate(0%, 0%);
                        position: fixed;
                        bottom: 15%;
                        right: 0%;
                        z-index: 1;
                        cursor: pointer;
						filter: blur(1.5px);
                }
				#back-button:active {
                        transform: translate(0%, 0%);
                        position: fixed;
                        bottom: 14.5%;
                        right: 0%;
                        filter: opacity(100%);
                        z-index: 1;
                        cursor: pointer;
                }
				#h-apps {
					transform: translate(50%, 0%);
					position: absolute;
					bottom: 0%;
					display: grid;
					grid-template-columns: auto auto;
					column-gap: 10px;
				}
				#app {
					background-color: chartreuse;
				}
